@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var selection = CurrentPage.Site().FirstChild("landingPage").Children("recipeCategory").Where("Visible");
}
<h4>Categories:</h4>
<br>
<div class="list-group">
    @foreach (var item in selection)
    {
        <a 
            class="list-group-item @(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)" 
            href="@item.Url">
            @item.Name
        </a>
    }
</div>
