@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<main>
<div class="container">
                   
            <!--First row-->
            <div class="row mb-2 mt-1">
                
                <!--Carousel header-->
                <div class="col-md-12"> 

                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-1" data-slide-to="2" class=""></li>
                        </ol>
                        <!--/.Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item carousel-item-next carousel-item-left">
                                <a href="#!"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2888%29.jpg" alt="First slide" class="img-fluid"></a>
                            </div>
                            <!--/First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <a href="#!"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2887%29.jpg" alt="Second slide" class="img-fluid"></a>
                            </div>
                            <!--/Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item active carousel-item-left">
                                <a href="#!"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2886%29.jpg" alt="Third slide" class="img-fluid"></a>
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/.Slides-->

                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->

                </div>
                <!--/Carousel header-->
                
            </div>
            <!--/First row-->
            
            <!--Blog-->
            <div class="row">
                <!--Main listing-->
                <div class="col-lg-8">
                  
                    <!--Post data-->
                    <div class="blog-text text-center">
                   
                        <!-- Post data -->
                        <a href="" class="amber-text"><h4><i class="fa fa-cutlery"></i> Food</h4></a>

                        <h1>15 best dishes of Greek cuisine</h1>

                        <h5>By<a href="" class="black-text"> Vinitha Raj </a> on June 27, 2016 <a><span><i class="fa fa-comments-o"></i> 35</span></a></h5> 
                    
                    </div>
                    <!--/.Post data-->
                    
                    <!--Section: Post-->
                    <section class="section">

                        <!--First row-->
                        <div class="row">
                           
                            <div class="col-md-12">

                                <!--Post text-->
                                <div class="blog-post-text wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                        
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad autem vel eum iure reprehenderit qui in ea minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                                    
                                    <!--Pictures in post-->
                                    <div class="post-pictures">
                                       
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img%20%2850%29.jpg">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img%20%2854%29.jpg"> 
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img%20%2852%29.jpg">
                                        
                                    </div>
                                    <!--/.Pictures in post-->
                                    
                                </div>
                                <!--/Post text-->

                                <div class="text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                                    <h3 class="h3-responsive">Do you want to share?</h3>
                                    <!--Facebook-->
                                    <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                                    <!--Twitter-->
                                    <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
                                    <!--Google +-->
                                    <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
                                </div>
                                
                            </div>
                            
                        </div>
                        <!--/First row-->
                        
                    </section>
                    <!--/.Section: Post-->
                    
                    <!--Section: About author-->
                    <section class="mb-4 wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                        <!--Author box-->
                        <div class="author-box blog-author-box">

                            <div class="row">

                                <!--Avatar-->
                                <div class="col-sm-3 col-12">
                                    <img src="https://lh3.googleusercontent.com/-sWH8mDPiRCs/AAAAAAAAAAI/AAAAAAAAP-k/NPO_b6G4DLs/s100-p-k-rw-no/photo.jpg" class="img-fluid rounded-circle z-depth-2">
                                </div>

                                <!--Author Data-->
                                <div class=" col-12 col-sm-9">

                                    <h4><strong>Vinitha Raj</strong></h4>
                                    
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elised diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam voluptua. At vero eos et accusam.</p>
                                </div>

                            </div>
                        </div>
                        <!--/.Author box-->
                    </section>
                    <!--/.Section: About author-->
                    
                    <!--Related posts-->
                    <section class="related-posts-carousel wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                        
                        <div class="row">
                            
                            <div class="col-md-12">
                               
                                <h2 class="text-center">you might also like</h2>
                                
                                <!--Carousel Wrapper-->
                                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                                  
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                        <li data-target="#multi-item-example" data-slide-to="1" class=""></li>
                                    </ol>
                                    <!--/.Indicators-->
                                   
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">

                                        <!--First slide-->
                                        <div class="carousel-item active">

                                            <div class="col-md-4">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(104).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Autumn flower dress - outfit</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(102).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Monthly car trip around the USA</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(29).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Restaurants in the Italian style - guide</h5>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <!--/.First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">

                                            <div class="col-md-4">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20(8).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Improve your relaxing at home</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20(7).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>How to sew curtains - simple tutorial</h5>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 hidden-sm-down">
                                                <a href="#!" class="black-text">
                                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20(6).jpg" alt="Card image cap">
                                                    <div class="carousel-text">
                                                        <h5>Change living room with accessories</h5>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <!--/.Second slide-->

                                    </div>
                                    <!--/.Slides-->

                                </div>
                                <!--/.Carousel Wrapper-->
                                
                            </div>
                            
                        </div>
                        
                    </section>
                    <!--/.Related posts-->
                    
                    <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <!--Section: Leave a reply (Not Logged In User)-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">

                        <!--Leave a reply form-->
                        <div class="reply-form">
                            <h1 class="section-heading">Leave a reply </h1>
                            <p class="text-center">(Not Logged In User)</p>

                            <h4>Sign up with: <span>
                                <!--Facebook-->
                            <a type="button" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a>

                            </span> <br><br>or:</h4>

                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form22" class="form-control">
                                <label for="form22">Your name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="form32" class="form-control">
                                <label for="form32">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-home prefix"></i>
                                <input type="text" id="form33" class="form-control">
                                <label for="form33">Your website</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea type="text" id="form18" class="md-textarea"></textarea>
                                <label for="form18">Your message</label>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary waves-effect waves-light">Submit</button>
                            </div>
                        </div>
                        <!--/.Leave a reply form-->

                    </section>
                    <!--/Section: Leave a reply (Not Logged In User)-->
                    
                </div>
                <!--/.Main listing-->
                
                <!--Sidebar-->
                <div class="col-lg-4">
                    
                    <!--Author card-->
                    <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        
                        <!--Card-->
                        <div class="card author-card">

                            <!--Background image-->
                            <div class="card-up">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28132%29.jpg" class="img-fluid">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAcuAAAAJDgyNzM4NDU3LTc1ZmEtNDJiOS1hZjhiLTgyOTVkMGE2Y2UwYg.jpg" class="img-fluid img-author">
                            </div>

                            <div class="card-block">
                               
                                <!--Name-->
                                <h4 class="card-title"><strong>Vinitha Raj</strong></h4>
                                <!--Description-->
                                <p>Hello, I'm Vinita. I've 32 years old and my biggest passion is cooking. I love travel around the world and take photos of wild animals, landscapes and local people.</p>

                                <!--Dribbble-->
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <!--Instagram-->
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                                <!--Pinterest-->
                                <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a>

                            </div>

                        </div>
                        <!--/Card-->
                        
                    </section>
                    <!--/Author card-->
                    
                    <div class="divider-new wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h3>Popular posts</h3>
                    </div>
                    
                    <!--Popular posts-->
                    <section class="section">
                        
                        <!--First row-->
                        <div class="row">
                            
                            <!--First column-->
                            <div class="col-md-12">
                                
                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(129).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                
                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 23/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 145</span>
                                </div>
                                
                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1"></div>
                                
                            </div>
                            <!--/First column-->
                            
                            <!--Second column-->
                            <div class="col-md-12">
                                
                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(115).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                
                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 22/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 128</span>
                                </div>
                                
                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1"></div>
                                
                            </div>
                            <!--/Second column-->
                            
                            <!--Third column-->
                            <div class="col-md-12">
                                
                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/8-col/img%20(98).jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                
                                <!--Post data-->
                                <div class="mb-3-half ">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 21/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 203</span>
                                </div>
                                
                                <!--Post title-->
                                <a href="#!" class="text-hover ">This is title of the news</a>
                                <div class="post-border pt-1 mb-0"></div>
                                
                            </div>
                            <!--/Third column-->
                            
                        </div>
                        <!--/First row-->
                        
                    </section>
                    <!--/Popular posts-->
                    
                </div>
                <!--/Sidebar-->
            </div>
            <!--/.Blog-->
            
        </div>
    </main>


@CurrentPage.GetGridHtml("content", "grid")