@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section Header
{

<style type="text/css">
    .navbar {
        background-color: transparent!important;
    }

    .top-nav-collapse {
        background-color: #1976D2;
    }
</style>

}

@* the fun starts here *@



@Html.Partial("HomeCarousel")

<br>

<!--Content-->
<div class="container">
    <div class="row">
        @Html.Partial("HomeMainSection")
    </div>
</div>
<!--/.Content-->
