<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT recipes ANY>
<!ATTLIST recipes id ID #REQUIRED>
<!ELEMENT recipeCategory ANY>
<!ATTLIST recipeCategory id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1073" key="919dd371-6cd4-4608-9aeb-cad4e706687d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-05-28T11:55:36" updateDate="2017-05-28T11:55:36" nodeName="Home" urlName="home" path="-1,1073" isDoc="" nodeType="1061" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1072" nodeTypeAlias="home">
    <siteDescription><![CDATA[Cook and Spread the love]]></siteDescription>
    <siteName><![CDATA[Vinis's Adukala]]></siteName>
    <landingPage id="1076" key="1b4133dc-5fd0-4721-8fc2-95164195abb1" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2017-05-28T12:16:01" updateDate="2017-05-28T12:50:14" nodeName="Recipes" urlName="recipes" path="-1,1073,1076" isDoc="" nodeType="1075" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1071" nodeTypeAlias="landingPage">
      <title><![CDATA[Recipes]]></title>
      <recipeCategory id="1077" key="2dc641d0-12a2-464f-b56f-c4d82ff10657" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2017-05-28T12:16:32" updateDate="2017-05-28T12:16:32" nodeName="Bakery" urlName="bakery" path="-1,1073,1076,1077" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1071" nodeTypeAlias="recipeCategory">
        <title><![CDATA[Baked Goods]]></title>
        <description><![CDATA[Soooo Tasty]]></description>
        <recipes id="1078" key="a4ff892e-201c-40d5-8229-33a234bbf941" parentID="1077" level="4" creatorID="0" sortOrder="0" createDate="2017-05-28T12:16:51" updateDate="2017-05-28T14:40:58" nodeName="Cake" urlName="cake" path="-1,1073,1076,1077,1078" isDoc="" nodeType="1066" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="recipes">
          <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
          <pageTitle><![CDATA[Cake Me up]]></pageTitle>
          <image><![CDATA[/media/1003/chocolate-layer-cake.jpeg]]></image>
          <pageDescription><![CDATA[make me up]]></pageDescription>
        </recipes>
      </recipeCategory>
      <recipeCategory id="1079" key="466381f4-19b8-45f8-bbcb-756787fd351c" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2017-05-28T13:09:51" updateDate="2017-05-28T13:09:51" nodeName="Non Vegetarian" urlName="non-vegetarian" path="-1,1073,1076,1079" isDoc="" nodeType="1068" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1071" nodeTypeAlias="recipeCategory">
        <title><![CDATA[Non Vegetarian]]></title>
        <description><![CDATA[Non Vegetarian]]></description>
        <recipes id="1081" key="0f698470-e0c9-49cb-9208-88ba2a3bdd94" parentID="1079" level="4" creatorID="0" sortOrder="0" createDate="2017-05-28T14:39:47" updateDate="2017-05-28T14:39:47" nodeName="Biryani" urlName="biryani" path="-1,1073,1076,1079,1081" isDoc="" nodeType="1066" creatorName="Manish Ramanan" writerName="Manish Ramanan" writerID="0" template="1067" nodeTypeAlias="recipes">
          <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
          <pageTitle><![CDATA[Biryani]]></pageTitle>
          <image><![CDATA[/media/1002/hyderabadi_chicken_biryani.jpg]]></image>
          <pageDescription><![CDATA[Making biryani]]></pageDescription>
        </recipes>
      </recipeCategory>
    </landingPage>
  </home>
</root>